@tailwind base;
@tailwind components;
@tailwind utilities;

html {
}

:root {
  --ti-cursor-font-size: 35px;
  --ti-cursor-font-weight: 400;
  --ti-cursor-color: #ffae42;
}

@layer base {
  body {
    background: #70739e;
    background: linear-gradient(158deg, #70739e 0%, #496a6c 25%, #70739e 100%);

    @apply tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }
}
