@tailwind base;
@tailwind components;
@tailwind utilities;

html {
}

:root {
  --ti-cursor-font-size: 35px;
  --ti-cursor-font-weight: 400;
  --ti-cursor-color: #ffae42;
}

@layer base {
  body {
    /* background: rgb(255, 185, 194); */
    background: white;
    /* background: linear-gradient(158deg, #70739e 0%, #496a6c 25%, #70739e 100%); */
    @apply bg-gradient-to-r from-red-200 via-red-300 to-yellow-200;
    @apply tracking-wide;
  }
  /* linear-gradient(to right, rgb(253, 164, 175), rgb(244, 63, 94)) */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }
}
